body{
     font-family: 'Roboto Condensed', sans-serif;
}

hr {
  border: 0;
  display:block;
  width: 300px;               
  background-color:grey;
  height: 1px;
}
#navbar{
     background-color: #fff;
     color: black;
}

a#judul_artikel{
    color:black;
}

a.judul_artikel:hover{
    color:#00AAE5;
    text-decoration: none;
}

 #navbar-content a{
     color: grey;
}
 #navbar-content a:hover{
     color: #00AAE5;
}
 .navbar-brand{
     padding-right: 50px;
}
 #footer {
     background: #273c75 !important;
}
 #footer h5{
     padding-left: 10px;
     border-left: 3px solid #eeeeee;
     padding-bottom: 6px;
     margin-bottom: 20px;
     color:#ffffff;
}
 #footer a {
     color: #ffffff;
     text-decoration: none !important;
     background-color: transparent;
     -webkit-text-decoration-skip: objects;
}
 #footer ul.quick-links li{
     padding: 3px 0;
     -webkit-transition: .5s all ease;
     -moz-transition: .5s all ease;
     transition: .5s all ease;
}
 #footer ul.quick-links li:hover{
     padding: 3px 0;
     margin-left:5px;
     font-weight:700;
}
 #footer ul.quick-links li a i{
     margin-right: 5px;
}
 #footer ul.quick-links li:hover a i {
     font-weight: 700;
     color:;
}
 #copyright{
     padding-top: 30px;
}

#pupular{
     margin: 10px 0px; 
}

#popular-img{
     margin: 10px 0px; 
}

#row-tambah-artikel{
    margin-bottom: 10px;
    background-color: #273c75
}

#btn-tambah-artikel{
    margin:10px 0px;
    background-color: transparent;
    border-color: 3px solid white;
    color:grey;
}

#btn-tambah-artikel:hover{
    border-color: white;
    color: white
}
#content-informasi{
    margin-bottom: 10vh
}

#gambar-text{
    margin-top: 100px;
}
#artikel{
    min-height: 50px;
    margin-bottom: 10px
}

p#no-more{
  text-align: center;
  color:#808080;
  margin-top: 10px
}

#artikels{
    margin-bottom: 15px
}

@-webkit-keyframes placeHolderShimmer {
          0% {
            background-position: -468px 0;
          }
          100% {
            background-position: 468px 0;
          }
        }

        @keyframes placeHolderShimmer {
          0% {
            background-position: -468px 0;
          }
          100% {
            background-position: 468px 0;
          }
        }

        .content-placeholder {
          display: inline-block;
          -webkit-animation-duration: 1s;
          animation-duration: 1s;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
          background: #f6f7f8;
          background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
          background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
          background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
          -webkit-background-size: 800px 104px;
          background-size: 800px 104px;
          height: inherit;
          position: relative;
        }

